{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["**/*.ts,"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "env": {
        "node": true
      },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier"
      ]
    }
  ]
}
